.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 3vw;
  padding-right: 10vw;
}

.table {
  display: table;
  width: 80%;
  border-collapse: collapse;
}
.table-container h1 {
  font-size: 1rem;
  font-weight: 600;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 8px;
  border-top: 1px solid #00000017;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #00000017;
  text-align: right;
  padding-right: 1.7rem;
}

.cell:first-child {
  width: 40%;
}

.row:first-child {
  background-color: #69696912;
}

.details-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: start;
  margin-top: 3.3vw;
}
.extra-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-left: 4vw;
  width: 40%;
}
.address {
  background-color: #69696912;
  border-radius: 5px;
  padding: 1rem 1rem 1rem 2.5rem;
}
.extra-details h1 {
  font-size: 1rem;
  font-weight: 600;
}
.address p {
  text-align: right;
  font-size: 0.9rem;
}
.left-section {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.left-section button {
  border: 1px solid rgba(0, 0, 0, 0.297);
  border-radius: 7px;
  background-color: #f30514;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 2rem 0.2rem 2rem;
  font-weight: 600;
  transition: background-color 0.3s ease-in;
}
.left-section button:hover {
  background-color: #b5010d;
}
.left-section h1 {
  font-size: 1rem;
  font-weight: 650;
  text-align: right;
}
.complain-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgba(156, 156, 156, 0.304);
  margin-bottom: 5rem;
  padding: 1rem;
  gap: 3vw;
}

/* small screens */
@media only screen and (max-width: 768px) {
  .details-card {
    display: flex;
    flex-wrap: wrap;
  }
  .cell {
    font-size: 0.7rem;
  }
  .table {
    width: 95%;
  }
  .cell:first-child {
    width: 30%;
  }
  .cell:last-child {
    width: 20%;
  }
  .extra-details {
    gap: 1rem;
    margin-right: 10vw;
    width: 100%;
  }
  .address {
    padding: 1rem 1rem 1rem 2.5rem;
    width: 100%;
  }
  .address p {
    text-align: right;
    font-size: 1.1rem;
  }
  .left-section button {
    font-size: 1rem;
  }
  .left-section h1 {
    font-size: 1rem;
  }
}
